{% extends "base.html" %}
{% block content %}
  <h1>Drivers list</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Licence number</th>
      </tr>
    </thead>
  <tbody>
    {% for driver in object_list %}
    	<tr>
        <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.id }}</a></td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
        <td>{{ driver.license_number }}</td>
      </tr>
     {% empty %}
      <tr>
        <td colspan="4">No drivers yet.</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block pagination %}
  {% include "includes/pagination.html" %}
{% endblock %}
